html, body{
    margin: 0px;
    height: 100%;
    overflow-x: hidden;

}

.plx-image1{
    background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.lachainemeteo.ch%2Fvideos-meteo%2Factualites-france%2Fa-quoi-s-attendre-cet-hiver-330083&psig=AOvVaw0sLW90eioC6R-9n0TBcJe2&ust=1638552912023000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCMjpuLXTxfQCFQAAAAAdAAAAABAD);
    text-align: center;
    width: 100%;
    height: 900px;
}